* {
  scroll-behavior: smooth;
}
.container {
  max-width: 1120px;
}
.appHeaderContainer {
  margin: 0px auto !important;
}

.sectionColor {
  width: 100%;
  height: auto;
  background-color: #f8f9fa;
}
.sectionColorWhite {
  width: 100%;
  height: auto;
  padding: 120px 0 100px;
  background-color: #fff;
}
